In [100]:
import pandas as pd
import numpy as np
df = pd.read_csv("KaggleV2-May-2016.csv")

In [101]:
df.dropna()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [102]:
df_select = df [["Gender","Age","Scholarship","Hipertension","Diabetes", "Alcoholism", "Handcap", "SMS_received"]]

In [103]:
df_select

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,F,62,0,1,0,0,0,0
1,M,56,0,0,0,0,0,0
2,F,62,0,0,0,0,0,0
3,F,8,0,0,0,0,0,0
4,F,56,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...
110522,F,56,0,0,0,0,0,1
110523,F,51,0,0,0,0,0,1
110524,F,21,0,0,0,0,0,1
110525,F,38,0,0,0,0,0,1
110526,F,54,0,0,0,0,0,1

In [104]:
df_select

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder


scaler = StandardScaler()
encoder = OneHotEncoder()
label = LabelEncoder()

selected_X = df_select.iloc[:, 0:1].values
encoded_X = OneHotEncoder().fit_transform(selected_X).toarray ()

In [105]:
selected_y = df_select.iloc[:,1:8].values
encoded_y = scaler.fit_transform(selected_y)
print(encoded_y)

[[ 1.07793239 -0.33011206  2.01737783 ... -0.1770676  -0.13772244
  -0.68761155]
 [ 0.81830565 -0.33011206 -0.49569297 ... -0.1770676  -0.13772244
  -0.68761155]
 [ 1.07793239 -0.33011206 -0.49569297 ... -0.1770676  -0.13772244
  -0.68761155]
 ...
 [-0.69618366 -0.33011206 -0.49569297 ... -0.1770676  -0.13772244
   1.45430948]
 [ 0.03942544 -0.33011206 -0.49569297 ... -0.1770676  -0.13772244
   1.45430948]
 [ 0.73176341 -0.33011206 -0.49569297 ... -0.1770676  -0.13772244
   1.45430948]]

In [106]:
x = np.concatenate((encoded_X,encoded_y),axis=1)

In [107]:
y = df['No-show'].values
y = label.fit_transform(y)

In [108]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,
 test_size=0.2, random_state=0)

In [109]:
x_validate, x_test, y_validate, y_test = train_test_split(x_test, y_test,
 test_size=0.5, random_state=0)

In [110]:
print (len(x_train),len(x_test),len(x_validate))

88421 11053 11053

In [97]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion = 'entropy').fit(x_train,y_train)
results = model.score(x_test,y_test)

results_validate = model.score(x_validate,y_validate)


print(results)
print(results_validate)

0.8016828010494889
0.7957115715190446

In [98]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion = 'gini').fit(x_train,y_train)
results = model.score(x_test,y_test)

results_validate = model.score(x_validate,y_validate)


print(results)
print(results_validate)

from sklearn.metrics import confusion_matrix
predictions = model.predict(x_validate)
print("Confusion Matrix: \n", confusion_matrix(y_validate,predictions))

0.8019542205735999
0.7952592056455261
Confusion Matrix:
 [[8757   76]
 [2187   33]]

In [113]:
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators=10, 
criterion='entropy')
model.fit(x_train, y_train)

results = model.score(x_test,y_test)

results_validate = model.score(x_validate,y_validate)


print(results)
print(results_validate)

from sklearn.metrics import confusion_matrix
predictions = model.predict(x_validate)
print("Confusion Matrix: \n", confusion_matrix(y_validate,predictions))

0.8007780693024519
0.7929973762779335
Confusion Matrix:
 [[8721  112]
 [2176   44]]